<html>
    <head><title>Register page</title>
    </head>
    <body>
        <h1>Register Here</h1>
        <form  method="post">
            <input type="text" name="name" placeholder="enter name"><br>
            <input type="text" name="email" placeholder="enter email"><br>
            <input type="address" name="addresss" placeholder="enter address"><br>
            <input type="submit" value="Register">
        </form>
    </body>
</html>